.form-editor-bar-wrapper {
    background-color: #014486;
}

.form-editor-bar {
    max-width: 80rem;
    margin: 0 auto;
}

.form-element-list-container {
    max-width: 50rem;
    margin: 0 auto;
}

.form-title-container {
    min-width: 0;
}

.form-title-container h2 {
    font-size: 1.25rem;
    color: white;
}

.form-editor-bar .spacer {
    min-width: 2rem;
}

.form-element-list {
    position: relative;
}

.list-empty-placeholder {
    min-height: 10rem;
}
